<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Admin: Save Pixlee Configuration -->
    <event name="admin_system_config_changed_section_pixlee_pixlee">
        <observer name="pixlee" instance="Pixlee\Pixlee\Observer\ValidateCredentialsObserver" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="pixlee" instance="Pixlee\Pixlee\Observer\AddToCart" />
    </event>
</config>
