<?xml version="1.0"?>
<!--
/**
 * Copyright © Pixlee TurnTo, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="pixlee" translate="label" sortOrder="400">
			<label>Pixlee</label>
		</tab>
		<section id="pixlee_pixlee" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>UGC</label>
			<tab>pixlee</tab>
			<resource>Pixlee_Pixlee::config_pixlee_pixlee</resource>
			<group id="existing_customers" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>UGC Settings</label>
                <group id="account_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<!-- Group configs -->
					<label>API Settings</label>
					<comment>Please enable Pixlee API using credentials from "Pixlee API" found in your Pixlee account Settings.</comment>

					<!-- Module enable -->
					<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Enabled</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					</field>

					<!-- API Key -->
					<field id="api_key" translate="label" type="text" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>API Key</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
	                </field>

                    <field id="private_api_key" translate="label" type="obscure" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Private API Key</label>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>

					<!-- Secret Key -->
					<field id="secret_key" translate="label" type="text" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Secret Key</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
	                </field>
				</group>

				<group id="pdp_widget_settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
					<!-- Group configs -->
					<label>Widget Settings</label>
					<comment>To enable widgets on Product and Category pages, create the widgets in your Pixlee account
                        Publish Center and add the widget IDs below. Remove IDs to disable.</comment>

	                <!-- Account ID -->
	                <field id="account_id" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Account ID</label>
	                </field>

	                <!-- PDP Widget ID -->
	                <field id="pdp_widget_id" translate="label" type="text" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>PDP Widget ID</label>
	                </field>

	                <!-- CDP Widget ID -->
	                <field id="cdp_widget_id" translate="label" type="text" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>CDP Widget ID</label>
                    </field>
				</group>
			</group>
            <group id="products" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Products</label>
                <comment>API Settings must be enabled to export products.</comment>
                <field id="export_button" translate="label comment" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Export Products</label>
                    <frontend_model>Pixlee\Pixlee\Block\Adminhtml\System\Config\Export</frontend_model>
                </field>
                <field id="export_enabled" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Nightly Export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
		</section>
	</system>
</config>
